language: elixir
sudo: required
cache:
  directories:
    - deps
services:
  - docker
  - postgresql
addons:
  postgresql: "9.5"
elixir:
  - 1.4.4
otp_release:
  - 19.3
notifications:
  slack: 
    rooms:
      - secure: "pQcCIP0Jq04LKrDPOfYtr83VZEyvgDwnLVPSW5vslCWZeRWP0m1rnJpxRzjk90NhDS6e3dymr+UhMgo12GpMIIzV5NFn50r0xehnSJDUj0nUo/3Hz64tJevttmvIa5oUC+jgoDZIJ30YynXXRY5TX0oowW2ysOuQisTuwsHsr/gAudRfVZoBohTe6+2OTRCdzzVIMmlfVt8Y6Iin4Nhu5B28+ZdEliNSae5t6wdvJ5Vab2QW7w+xu5YGg6fcMz/SvjeA45EKwVkDKIgRRgFfoa5/+Plx9DG/lZ4sDtlS/R1le9DUq7Mb+M2woYUWu8id/FVTq9buxNJCx337WaURoX/GhoOuTFSe3BwkZgzO6iJAcoXGcq521AQreuBae/Iq6IzRvxPBP9y04d/AS+yBn7hQIv0Tp0S028aGZdjbsWTyWrieL7tMQofCLF3dRt0YkZJZuCM7FewVKQc5Ab9GdxZDCV2vYG99d0fcnqpfDy8mjsXm2peTYmZAhq5hVn+alwHX0bhX94xK+e2Jkc1ULkJ0kb3GB8ZSw/L1yjD0Gj3fsPalVQeSrcSXSWqiOTcfYbG8yVa6f4qqJ4Cd2K1zYFDKBBmO3Kk4W5w/x2ZTwk8A5rkps42cWVyBlFWH9z73YcNhYMeBMjN7j68HZwfzCG4xZqQaxcfsV6YPM8gvVVA="
    on_success: always
env:
  global:
    - Chart=verification
    - MIX_ENV=test
    - DOCKER_HUB_ACCOUNT=edenlabllc
    - MAIN_BRANCHES="master develop staging" # Branches on which you want version to be incremented
    - RELEASE_BRANCH="master"
    # Docker and GitHub credentials
    - secure: "ZNrgp+D4f45VLDVmi38YEX53vrYd97gF2P6glXgKcLzzGoIFkjfMns2iSzL0kIuEdZhDZyVMCTDdVgP4dl8pLVkt5yttJYM58xaj+oLVld0zWciXozOjwkSKyJISfFq4wUBzpli+7iIjGdVPF3Tj2m7Mti9P5nTo+syxUB8kmiv3pPainMcAv5awekRYxes/seyq0mWVmBoc3aw8KGn2dKEDFc82fy79hQSahNtbunnP4IjM9rdws316Fmer4brFU8jsEqHtbaAD0rUMmgl/iTHvjFLPrn+YUn7YIAbZEghG9nEwwrpGUWr+sKpWglyV6zrKy0tDZUoMSR9ExRlOfkSexFv5qJXPQCin/tjUjcfE+oWdFbL4BNyVyUEqYu6fYQ7vohQ43lWia3P+fYsH6LfvSNmYthLbMChgx00+AM1tFRy6wGOpCAdVhSQIXLJYf8t0/3g2KybZUfH5+nSE49HfznlKq9FPB7TrPlhpFG1FhCkCI/X0VxW8ybrYF5YlYPmGNeKzHkTou96xK75p5Qx7e9ZSaOES369LbfFR2FNgXceUMAVgH3AuGMJuw8VWEKWB/fbyhmUL24vIDGRQjxaHPB/uWqJHKjI/JOazOsWHyMDKyDiLVHycL549kEZKV2hbjxP5+Nq8cfPjMDQWfbCKIEJFb5/P1qWm9MqfnEQ="
    - secure: "N38rwLSObT1wr1xKxXh3Wv5P584y1cE7OXxaYj76yeH9YXCT2cpHHqVY7/ASFHhtYbOzffj1ETMbRqOF9gfn5yephrXDjiauGmc3w2ce6TFiUtMi0Hm9FXLLChbp1ghyZ9BM9rPWn7JFTGrM9s5HtiRGnp4FM4O47z9jAwcmLsDoWurJFD0Aw6VPEOylUA0pkbwTy/sCV1DpGKEUSthYO9uZHxTKxYZEiMQvsBfQ0K22I78cTkV4MsbaSQqs3Y5EJHTyBodCAbP4K/hjR2UA2BQ6U2JpJXjiT5ahoINR4QRllr2sAJWoG1YbxpQiNdA71mtKKR7/7DNGWfrGjmoHN4SycwJwXaw3eYIOyE9JvKfNgz3Mnre3eApDzLQ4YHx8d5CaWWYqjWL3Qm8TUilyOSWB3f31VELDEuiEbnc8DaBQ5lGblyHeb+Y9Adp1MrZHoPciCADan9NL7H1yHvyqfzMiO0k/GPPkliQQ06DsyTNzzxB82gQw0g2bKPOZ9m9YTGs3eHVj60UxAD9VqbYnql3Iu7513y/6zjMXhdtxYspKEcoHoHcwtFRP8mhz23Y1ASo9pxU26t6vLxAe0VU0HyI+xlnVYPGCVq03fK7dkj2Iyw5YjMq5qHs6vqTSGFdmgh3YlIlomhW5o59NpSyD9HGWrNBgxNxFa9Oyq93sAcA="
branches:
  # Releases are generated automatically, stop infinite build loop
  except:
    - /[0-9]*\.[0-9]*\.[0-9]*/
before_install:
  # Expose MQ and DB to Docker container
  - sudo ./bin/ci/init-db.sh
script:
  # Increment version in mix.exs
  - ./bin/ci/version-increment.sh || travis_terminate 1
  # Install dependencies
  - mix deps.get || travis_terminate 1
  - ./bin/mix_tests.sh || travis_terminate 1
  # Build Docker container
  - ./bin/build.sh
  # Initialize DB for Docker container
  - MIX_ENV=dev mix ecto.setup
  # Run Docker container
  - sudo ./bin/start.sh || travis_terminate 1
  # Run acceptance tests on Docker container
  - "CONTAINER_HTTP_HOST=localhost CONTAINER_HTTP_PORT=4000 mix test test/acceptance"
  - ./bin/ci/push.sh || travis_terminate 1
  - openssl aes-256-cbc -K $encrypted_6a0dda48e28c_key -iv $encrypted_6a0dda48e28c_iv -in eHealth-8110bd102a69.json.enc -out eHealth-8110bd102a69.json -d
  - sudo ./bin/deploy.sh || travis_terminate 1